<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-feed-fm" version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaPluginFeedFm</name>

    <js-module name="CordovaPluginFeedFm" src="www/CordovaPluginFeedFm.js">
        <clobbers target="CordovaPluginFeedFm" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaPluginFeedFm">
                <param name="ios-package" value="CordovaPluginFeedFm" />
            </feature>
        </config-file>
        <header-file src="src/ios/CordovaPluginFeedFm.h" />
        <source-file src="src/ios/CordovaPluginFeedFm.m" />

        <source-file src="src/ios/FeedMedia/libFeedMediaCore.a" framework="true" />

        <header-file src="src/ios/FeedMedia/FeedMediaCore.h" />

        <header-file src="src/ios/FeedMedia/CWStatusBarNotification.h" />

        <header-file src="src/ios/FeedMedia/FeedMedia.h" />

        <header-file src="src/ios/FeedMedia/FeedMediaCoreProxy.h" />

        <header-file src="src/ios/FeedMedia/FMActivityIndicator.h" />
        <source-file src="src/ios/FeedMedia/FMActivityIndicator.m" />

        <header-file src="src/ios/FeedMedia/FMAudioItem.h" />

        <header-file src="src/ios/FeedMedia/FMAudioPlayer.h" />

        <header-file src="src/ios/FeedMedia/FMDislikeButton.h" />
        <source-file src="src/ios/FeedMedia/FMDislikeButton.m" />

        <header-file src="src/ios/FeedMedia/FMElapsedTimeLabel.h" />
        <source-file src="src/ios/FeedMedia/FMElapsedTimeLabel.m" />

        <header-file src="src/ios/FeedMedia/FMEqualizer.h" />
        <source-file src="src/ios/FeedMedia/FMEqualizer.m" />

        <header-file src="src/ios/FeedMedia/FMError.h" />

        <header-file src="src/ios/FeedMedia/FMLikeButton.h" />
        <source-file src="src/ios/FeedMedia/FMLikeButton.m" />

        <header-file src="src/ios/FeedMedia/FMLockScreenDelegate.h" />

        <header-file src="src/ios/FeedMedia/FMLog.h" />

        <header-file src="src/ios/FeedMedia/FMMetadataLabel.h" />
        <source-file src="src/ios/FeedMedia/FMMetadataLabel.m" />

        <header-file src="src/ios/FeedMedia/FMPlayPauseButton.h" />
        <source-file src="src/ios/FeedMedia/FMPlayPauseButton.m" />

        <header-file src="src/ios/FeedMedia/FMProgressView.h" />
        <source-file src="src/ios/FeedMedia/FMProgressView.m" />

        <header-file src="src/ios/FeedMedia/FMRemainingTimeLabel.h" />
        <source-file src="src/ios/FeedMedia/FMRemainingTimeLabel.m" />

        <header-file src="src/ios/FeedMedia/FMShareButton.h" />
        <source-file src="src/ios/FeedMedia/FMShareButton.m" />

        <header-file src="src/ios/FeedMedia/FMSkipButton.h" />
        <source-file src="src/ios/FeedMedia/FMSkipButton.m" />

        <header-file src="src/ios/FeedMedia/FMSkipWarningView.h" />
        <source-file src="src/ios/FeedMedia/FMSkipWarningView.m" />

        <header-file src="src/ios/FeedMedia/FMStation.h" />

        <header-file src="src/ios/FeedMedia/FMStationArray.h" />

        <header-file src="src/ios/FeedMedia/FMStationButton.h" />
        <source-file src="src/ios/FeedMedia/FMStationButton.m" />

        <header-file src="src/ios/FeedMedia/FMStationCrossfader.h" />
        <source-file src="src/ios/FeedMedia/FMStationCrossfader.m" />

        <header-file src="src/ios/FeedMedia/FMTotalTimeLabel.h" />
        <source-file src="src/ios/FeedMedia/FMTotalTimeLabel.m" />

        <header-file src="src/ios/FeedMedia/MarqueeLabel.h" />
        <source-file src="src/ios/FeedMedia/MarqueeLabel.m" />
    </platform>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaPluginFeedFm">
                <param name="android-package" value="shamilovtim.CordovaPluginFeedFm" />
            </feature>
        </config-file>
        <framework src="fm.feed.android:player-sdk-exo290:5.3.5" />
        <source-file src="src/android/CordovaPluginFeedFm.java" target-dir="src/shamilovtim" />
    </platform>
</plugin>